.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover{
    background-color: var(--color-primary-variant);
    background:transparent;
    border-color: var(--color-primary-variant);
}

.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;

}

.portfolio_image{
    aspect-ratio: 374.656/202.805;
}

.portfolio_item h3{
    margin: 1.2rem 0 1rem;
}

.portfolio_item p{
    color:var(--color-light);
}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin: 2rem 0 1rem;
}

/* =================MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px){
    .portfolio_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
}

/* =================MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px){
    .portfolio_container{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}